<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Types Of Lung Cancer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/mystyle.css">
</head>
<body>
    {% include 'nav.html' %}
    <br>
    <h1 style="text-align:center">Lung Cancer</h1>
    
    <br>
    
    <h2 style="margin-left:70px;"">Kinds of Lung Cancer</h2>
    
    <P style="margin-left:70px;"">The most common kinds of Lung cancer are-</p>
    <ul>
        <li>Adenocarcinoma is the most common type of lung cancer in the United States and usually begins along the outer sections of the lungs. It is also the most common type of lung cancer in people who have never smoked.</li>
        <li>Large cell carcinomas are a group of cancers with large, abnormal-looking cells. These tumors may begin anywhere in the lungs and tend to grow quickly.</li>
        <li>Squamous cell carcinoma is also called epidermoid carcinoma. It often begins in the bronchi near the middle of the lungs.</li>
    </ul>
    <img src="static/images/types.png" width="600" height="350"  style="margin-left:100px; margin-top: -50px;" >
  {% include 'footer.html' %}
</body>
</html>